<%- include('partials/_header') -%>

<body>

<%- include('partials/_navigation') -%>

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('img/home-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Clean Blog</h1>
            <span class="subheading">A Blog Theme by Start Bootstrap</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div  class="post-preview">
          <% if (blog.length > 0) { %>
            <% blog.forEach(element => { %>
                <a href="/blogs/<%= element._id %>">
                    <h2 class="post-title">
                        <%= element.title %>
                    </h2>
                    <h3 class="post-subtitle">
                        <%= element.detail %>
                    </h3>
                </a>
                <p class="post-meta">Posted by CleanBlog
                    <a href="#"><%= element.dateCreated.toDateString() %></a>
                </p>
                <h4>
                  <%= element.edited === true  ? "Edited" : ""  %>
                 </h4>
            <% }); %>
        <% } else { %>
          <div style="color:black; font-size: 40px; font-weight: bold;">
            <img src="https://akwebbilisim.com/images/gtrgrtgfgfgs.jpg" alt="">
            Looks like your registered blog couldn't be found. Click to Add New Post Page!
          </div>
        <% } %>
        
      </div>

      
       
        <div class="clearfix">
          <h6>Page</h6>
          <% if(page > 0) { %>
            <% for(let i = 1; i <= current; i++) { %>
              
              <a class=" nav-link tm-paging-link float-left" href="/?page=<%= i  %>"><%= i  %></a>&nbsp;

            <% } %>
          <% } %>
        </div>
        <div class="clearfix">
          <a class="btn btn-primary float-right" href="#">Newest Posts &rarr;</a>
        </div>

        
        
      </div>
    </div>
  </div>

  <hr>

  <%- include('partials/_footer')  %>

  
  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Custom scripts for this template -->
  <script src="js/clean-blog.min.js"></script>

</body>

</html>
