<%- include('partials/_header') -%>

<body>

  <%- include('partials/_navigation') -%>

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('img/post-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-heading">
            <h1><%= blog.title  %></h1>
            <h2 class="subheading"><%= blog.detail  %></h2>
            <span class="meta">Posted by
              <a href="#">Start Bootstrap</a>
             <%= blog.dateCreated.toDateString()  %></span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Post Content -->
  <article>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <p class="offset-4"><%= blog.title  %></p>

        
          <a href="#">
            <img class="img-fluid" src="https://halklailiskiler.co/wp-content/uploads/2022/09/Blog-1.jpg" alt="">
          </a>
          

          

          <div class="button-container" >
            <a href="/blogs/edit/<%= blog._id %>" class="button update-button">Update</a>
          </div>
          <div>
            <form id="deleteForm" method="POST" action="/blogs/<%= blog._id %>?_method=DELETE">
              <button type="submit" onclick="return confirm('Are you sure you want to delete?')" class="button delete-button">Delete</button>
            </form>
          </div>

                
          
        </div>
      </div>
    </div>
  </article>

  <hr>

  <%- include('partials/_footer') -%> 

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Custom scripts for this template -->
  <script src="js/clean-blog.min.js"></script>

</body>

</html>
